@import "../base/variables";

header{
    background-color: nth($colores, 1); 
    width: 100%;
    nav{
        .header{
            @include flex (flex, center, center);
            font-family: $font-site, sans-serif;
            font-size: 20px;        
            padding: 5px;   
            text-decoration: none;
            flex-wrap: wrap;
            a{
                display: flex;
                text-decoration: none;
                padding: 3px;
                margin: 0px 50px;   
                list-style: none;  
                text-transform: uppercase;
                color: black;
            }
            .index-responsive{
                display: none;
            }
            
            .img-logo{
                    width: 250px;
                    height: 120px;    
            }
        }
    }
}